/* 

body{
    display: flex;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.main_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #414b7e;
  }

h2{
    font-size: 2rem;
}

p{
    font-size: 1.1rem;
}

  button{
    padding: 10px 30px;
    font-size: 1.1rem;
    background-color: #414b7e;;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  } */