.main_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    color: #414b7e;
  }

 .main_page h2{
    font-size: 2.2rem;
}

.main_page p{
    color: rgb(73, 83, 139);
    font-size: .9rem;
}

.main_btn{
    padding: 12px 30px;
    background-color: #414b7e;;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 20px;
} 