:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-endering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
}

.container{
  min-width: 300px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions{
  display: flex;
  padding: 1rem ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  
}
.questions h3{
  font-size: 1.6rem;
  padding-bottom: 1.2rem;
  color: #1e2238;
}

.answer_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button{
  font-size: 1.2rem;
  padding: 8px 13px;
  background: none;
  border: 1px solid #414b7e;
  border-radius: 10px;
  color: #414b7e;
}

.show{
  padding: 10px 30px;
    font-size: 1.1rem;
    background-color: #414b7e;;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}