:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.main_container{
  min-width: 360px;
  height: 90vh;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-bottom: .65rem;
  text-align: left;
  width: 90%;
}

.question_container h3{
  font-size: .9rem;
  color: rgb(41, 50, 100);
  margin-bottom: .3rem;
  height: 85%;
}



button{
  font-size: 1.1rem;
  padding: 8px 13px;
  background: none;
  border: 1px solid #414b7e;
  border-radius: 10px;
  color: #414b7e;
}

.show{
    padding: 9px 28px;
    font-size: 1rem;
    background-color: #414b7e;;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    
}
.start_content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  
}

.end_content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: .6rem;
  margin-top: 2rem;
  padding: 0 1rem;
}

.content_container{
  padding: 0.7rem 1rem;
}

.answer{
  color: rgb(41, 50, 100);
  margin-right: .5rem;
  padding: 2px 8px;
  border-radius: .3rem;
  margin-bottom: .3rem;
  font-size: .9rem;
}

.score{
  font-weight: 700;
  font-size: .8rem;
}

.check{
    padding: 10px 28px;
    background-color: #414b7e;;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    line-height: 18px;
}
.selected{
  background-color: #d6dbf5;
}

#correct.answer{
  background-color: #94d7a2;
  border:  1px solid #94d7a2;
}

#incorrect.answer{
  background-color: #f8bcbc;
  border:  1px solid #f8bcbc;
}

#not-selected.answer{
  color: rgba(41, 50, 100, 4);
  border: 1px solid rgba(41, 50, 100, 4);
}





