:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-endering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.main_container{
  min-width: 300px;
  min-height: 100vh;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  margin-bottom: .65rem;
  width: 100%;
  text-align: left;
}

.question_container h3{
  font-size: 1.2rem;
  color: rgb(41, 50, 100);
  margin-bottom: .5rem;
}
.questions{
  display: flex;
  padding: 1rem ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  
}
.questions h3{
  font-size: 1.6rem;
  padding-bottom: 1.2rem;
  color: #1e2238;
}

.answer_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button{
  font-size: 1.2rem;
  padding: 8px 13px;
  background: none;
  border: 1px solid #414b7e;
  border-radius: 10px;
  color: #414b7e;
}

.show{
  padding: 10px 30px;
    font-size: 1.1rem;
    background-color: #414b7e;;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.start_content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.end_content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.content_container{
  padding: 0 1.1rem;
}

.answer{
  font-weight: .6rem;
  color: rgb(41, 50, 100);
  margin-right: .6rem;
  padding: 2px 8px;
  border-radius: .3rem;
}

.line{
  margin-top: .5rem;
}